/* === POUR QUE LE MAIN PRENNE TOUTE LA HAUTEUR === */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

.photo-cv {
  max-width: 200px;
}

svg {
  transition: transform 0.3s ease;
}
svg:hover {
  transform: scale(1.1);
}

/* === COLONNE GAUCHE ET DROITE === */
.colonne-gauche-fr {
  background-color: #f8f9fa;
}

.colonne-droite-fr {
  background-color: #dae6f2;
  border-radius: 10px 0 0 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.colonne-gauche-en {
  background-color: #dae6f2;
}

.colonne-droite-en {
  background-color: #f8f9fa;
  border-radius: 0 10px 10px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* === ESPACEMENT ET SÉPARATION DES BLOCS === */
.colonne-droite-fr > div,
.colonne-gauche-fr > div,
.colonne-droite-en > div,
.colonne-gauche-en > div {
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

/* === RESPONSIVE === */
@media (max-width: 767.98px) {
  .row.full-height {
    flex-direction: column !important;
    height: auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .fs-1,
  .fs-2,
  .fs-3 {
    text-align: center;
  }
}
.progress-fill {
  width: 0;
  transition: width 1.2s ease-in-out;
}
